<html>
<head>
<script language="javascript" src="jquery-1.4.4.min.js"></script>
<script language="javascript" src="jquery.jqprint-0.3.js"></script>
<script language="javascript">
function  a(){
$("#ddd").jqprint();
}

</script>
</head>
<body>

<div id="ddd" style='media:print'>
	<div  style=" border:1px solid #000 ">
	sddfsfdsfds
	sfdfsddfsdfs
	ssssdf
	
</div>
<table style="BORDER-COLLAPSE: collapse" borderColor="#111111" cellSpacing="0" cellPadding="2" border="1">
<tr>
<td>test</td>
<td>test</td>
<td>test</td>
<td>test</td>
<td>test</td>
</tr>
<tr>
<td>test</td>
<td>test</td>
<td>test</td>
<td>test</td>
<td>test</td>
</tr>
<tr>
<td>test</td>
<td>test</td>
<td>test</td>
<td>test</td>
<td>test</td>
</tr>
<tr>
<td>test</td>
<td>test</td>
<td>test</td>
<td>test</td>
<td>test</td>
</tr>
<tr>
<td>test</td>
<td>test</td>
<td>test</td>
<td>test</td>
<td>test</td>
</tr>

</table>

</div>

<input type="button" onclick=" a()" value="1"/>
<input id="btnPrint" type="button" value="2" onclick="javascript:window.print();" />  
 
</body>
</html>
